---
layout: default
title: "gawiga - desenvolvedor"
lang: pt
---
{% include svg-icons.html %}
<header class="header-site" >
    {% include header-default.html %}
    {% include menu-search.html %} 
</header>
<main id="scroll" class="home" itemscope itemtype="http://schema.org/Blog">
    <section id="sobre" class="post-content" itemscope itemtype="http://schema.org/BlogPosting">
        {% include sobre-mim.html %}
        {% include servicos.html %}
        {% include contato.html %}
    </section>
</main>