<!-- <ul>
    <a href="/blog/sobre-html-e-css">Sobre HTML e CSS</a> - Uma breve explicação sobre HTML e CSS
</ul> -->
<ul>
    <li>
        <a href="/blog/computacao-distribuida-blockchain-e-o-poder-na-mao-do-usuario">Blockchain</a> - Computação distribuída e o poder na mão do usuário.
    </li>
    <li>
        <a href="/blog/criando-uma-conexao-com-oracle-client-usando-csharp">Conexão com Oracle Client</a> - Uma classe em C#.
    </li>
    <li>
        <a href="/blog/javascript">JavaScript</a> - Teste de JS e jQuery com Evair Sousa e Nícolas Tossati.
    </li>
    <li>
        <a href="/blog/coinhive">CoinHive</a> - Implementando Monero na Nuvem.
    </li>
    <li>
        <a href="https://medium.com/@gawiga">Medium</a> - Tenho uma publicação de Poemas e também falo de TI por lá.
    </li>
</ul>