<!-- <ul>
    <a href="/blog/sobre-html-e-css">Sobre HTML e CSS</a> - Uma breve explicação sobre HTML e CSS
</ul> -->
<ul>
    <a href="/blog/computacao-distribuida-blockchain-e-o-poder-na-mao-do-usuario">Blockchain</a> - Computação Distribuída, Blockchain e o poder na mão do usuário
</ul>
<ul>
    <a href="/blog/criando-uma-conexao-com-oracle-client-usando-csharp">Criando uma conexão com Oracle Client</a> - Uma classe em C# para Oracle Client
</ul>
<ul>
    <a href="/blog/javascript">JavaScript</a> - Teste com JS e jQuery numa aula com Evair Sousa e Nícolas Tossati
</ul>
<ul>
    <a href="/blog/coinhive">CoinHive</a> - Implementação de Mineração de Monero na Nuvem
</ul>
