<h2 id="postagens">Postagens</h2>
<p class="justify">Algumas postagens pessoais que acho interessante compartilhar no mundo.</p> 
<ul>
    <li>
        2015-10-02 | 
        <a target="_blank" href="https://medium.com/contratempos/como-procurar-emprego-de-ti-ad30bb5dce2">
        Como procurar um emprego de TI
        </a>
    </li>
    <li>
        2017-08-24 | 
        <a target="_blank" href="https://www.linkedin.com/pulse/2017-e-o-futuro-malvado-do-mercado-de-programa%C3%A7%C3%A3o-gabriel-galdino/">
        2017 e o futuro "malvado" do mercado de programação
        </a>
    </li>
    <li>
        2018-03-13 | 
        <a target="_blank" href="https://medium.com/contratempos/computa%C3%A7%C3%A3o-distribu%C3%ADda-blockchain-e-o-poder-na-m%C3%A3o-do-usu%C3%A1rio-bb9a33641bd5">
        Computação distribuída e o poder na mão do usuário
        </a>
    <li>
        2018-07-14 | 
        <a target="_blank" href="https://www.linkedin.com/pulse/parte-0-introdu%C3%A7%C3%A3o-ao-solidity-gabriel-w-galdino/">
        Introdução ao Solidity
        </a>
    </li>
    <li>
        2018-08-30 | 
        <a target="_blank" href="https://www.linkedin.com/pulse/o-uso-do-blockchain-mercado-de-seguros-da-teoria-gabriel-w-galdino/">
        O uso do blockchain no mercado de seguros
        </a>
    </li>
</ul>

<h2>Blog</h2>

<ul>
  {% for post in site.posts %}
    <li>
        <a href="{{ post.url }}">{{ post.title }}</a> 
    </li>
  {% endfor %}
</ul>

<!-- {{ post.date }}  -->
