<h2 id="contato">{{ site.[page.lang].contato | capitalize}} ☎️</h2>

{% if page.lang == "pt" %} 
<p class="justify">Precisa de alguma ajuda? 
    Quer tirar alguma dúvida? Não hesite em me contatar. Me mande um <a href="mailto:contato@gawiga.com">e-mail</a> ou se preferir entre em contato comigo pelas <a href="#" data-scroll>redes sociais</a>. 😊
</p>
{% endif %}

{% if page.lang == "en" %}
<p class="justify">Do you need any help? 
    Want to ask any questions? Do not hesitate to contact me. Send me an <a href="mailto:contato@gawiga.com">e-mail</a> or if you prefer contact me on <a href="#" data-scroll>social networks</a>. 😊
    </p>
{% endif %}