<div class="search-wrapper">
  <div class="search-form">
    <input type="text" class="search-field" name="pesquisar" placeholder="{% if page.lang == 'en' %}Search...{% else %}Pesquisar...{% endif %}">
    <svg class="icon-remove-sign">
      <use xlink:href="#icon-close"></use>
    </svg>
    <ul class="search-results search-list"></ul>
  </div>
</div>

<div id="fade" class="overlay"></div>
<a id="slide" class="slideButton fade">
  <svg id="open" class="icon-menu">
    <use xlink:href="#icon-menu"></use>
  </svg>
  <svg id="close" class="icon-menu">
    <use xlink:href="#icon-close"></use>
  </svg>
</a>
<aside id="sidebar">
  <nav id="navigation">
    <h2>MENU</h2>
    <ul>
      {% if page.lang == "en" %}
      <li><a aria-label="home" href="/en" title="Home">Home</a></li>
      <li><a aria-label="blog" href="/en/blog/" title="Blog">Blog</a></li>
      <li><a aria-label="rss" href="/feed.xml" title="Atom/RSS feed" class="feed">Feed</a></li>
      <li><a aria-label="contact" href="/en#contato" title="Contact">Contact</a></li>
      <li><a aria-label="language" href="{{ page.translation_url | default: '/' }}" title="Switch language">Português</a></li>
      {% else %}
      <li><a aria-label="inicio" href="/" title="Início">Início</a></li>
      <li><a aria-label="blog" href="/blog/" title="Blog">Blog</a></li>
      <li><a aria-label="rss" href="/feed.xml" title="Atom/RSS feed" class="feed">Feed</a></li>
      <li><a aria-label="contato" href="/#contato" title="Contato">Contato</a></li>
      <li><a aria-label="idioma" href="{{ page.translation_url | default: '/en' }}" title="Mudar idioma">English</a></li>
      {% endif %}
    </ul>
  </nav>
</aside>
<a id="search" class="dosearch">
  <svg class="icon-menu icon-search">
    <use xlink:href="#icon-search"></use>
  </svg>
</a>