<h2 id="projetos">Projetos</h2>
<p class="justify"><a href="http://www.viceri.com.br">Viceri (2018)</a> - Atualmente trabalho na sustentação de sistemas da seguradora Mapfre,
    realizando análise de problemas e corrigindo erros em produção. 
    Atuo tanto na parte de desenvolvimento web como em ETL utilizando o IBM InfoSphere DataStage®.
</p>
<p class="justify">
    <a href="https://github.com/Gawiga/DuPont">DuPont (2017)</a> - Trabalho de conclusão de curso, aonde criei um sistema que faz o cálculo da análise DuPont.
    Pode ser utilizado por qualquer empresa. A análise é utilizada por investidores para o levantamento de risco da empresa. 
    O código fonte está no GitHub e livre para ser utilizado por todo mundo. :)
</p>
<p class="justify">
    <a href="http://www.carsys.com.br/extranet/">Carsys (2013-2016)</a> - O Carsys é um sistema utilizado por empresas que fazem vistorias de automóveis. 
    Tive a oportunidade
    de participar no desenvolvimento do sistema. Atualmente o sistema é usado por diversas prestadoras de seguros
    em todo Brasil.
</p>