<h2 id="servicos">{{ site.[page.lang].servicos | capitalize}} 🛠️</h2>

{% if page.lang == "pt" %} 
<p class="justify">Atualmente, estou como Engenheiro de Software na <a target="_blank" rel="noopener noreferrer" href="https://ciandt.com/br/pt-br">CI&T</a>. 
    No tempo disponível, crio novas postagens em meu blog, atuo na comunidade Open Source e brinco de criar websites estáticos. Além de estar sempre estudando e adquirindo novos conhecimentos. 👨‍🎓📚</p>
{% endif %}

{% if page.lang == "en" %} 
<p class="justify">I am currently a Software Engineer at <a target="_blank" rel="noopener noreferrer" href="https://ciandt.com/us/en-us">CI&T</a>. 
    In the time I have available, I create new posts on my blog, work in the Open Source community and create static websites. Besides being always studying and acquiring new knowledge.👨‍🎓📚</p>
{% endif %}
