<h2 id="servicos">{{ site.[page.lang].servicos | capitalize}} 🛠️</h2>

{% if page.lang == "pt" %} 
<p class="justify">Atualmente, estou como Analista Desenvolvedor na <a target="_blank" rel="noopener noreferrer" href="https://www.viceri.com.br">Viceri</a>. 
    No tempo que tenho disponível, crio novas postagens em meu blog, atuo na comunidade Open Source e <strong>crio websites estáticos sem custo de hospedagem</strong>. Além de estar sempre estudando e adquirindo novos conhecimentos. 👨‍🎓📚</p>
{% endif %}

{% if page.lang == "en" %} 
<p class="justify">I am currently a Developer Analyst at <a target="_blank" rel="noopener noreferrer" href="https://www.viceri.com.br">Viceri</a>. 
    In the time I have available, I create new posts on my blog, work in the Open Source community, and <strong>create static websites at no hosting cost</strong>. Besides being always studying and acquiring new knowledge.👨‍🎓📚</p>
{% endif %}