<picture>
	<source srcset="/assets/img/blog-author.webp" type="image/webp">
	<img itemprop="image" class="img-rounded" src="/assets/img/blog-author.jpg" alt="Gabriel Galdino" width="350" height="351" decoding="async">
</picture>
<h1></h1>
<h2 class="justify">{{ site.[page.lang].sobremim }} 🙋‍♂️</h2>

{% if page.lang == "pt" %} 
<p class="justify">Olá mundo, meu nome é <strong>{{ site.nome }}</strong>, tenho dupla formação superior e atuo na área de desenvolvimento de software há mais 7 anos. </p>
<p class="justify">Como desenvolvedor de software, tive experiência no desenvolvimento de diversas aplicações, na melhora de perfomance de Banco de Dados, porém decidi focar minha carreira na arquitetura .NET com ênfase em aplicações web. Sempre buscando aplicar soluções digitais para resolver problemas reais.
</p>
{% endif %}

{% if page.lang == "en" %} 
<p class="justify">Hello World, my name is <strong>{{ site.nome }}</strong>, I have a double degree and I have been working in software development for 7 years</p>
<p class="justify">As a software developer, I have had experience developing several applications, improving database performance, however I decided to focus my career on .NET architecture with an emphasis on web applications. Always seeking to apply digital solutions to solve real problems.</p>
{% endif %}