
        <div id="google_translate_element" class="nav"></div>
        <h3 class="centralizado">I speak English too! :)
            <br /> And someday I will translate this blog...
        </h3>

        <p class="centralizado">
            Validações são importantes, eu acho
            <a href="https://jigsaw.w3.org/css-validator/validator?uri=gawiga.com&profile=css3svg">
                <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss-blue"
                    alt="CSS válido!" />
            </a>
            <a href="https://developers.google.com/speed/pagespeed/insights/?url=www.gawiga.com&tab=mobile">PageSpeed do
                Google</a>
            <br />
            <a class="centralizado" href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fwww.gawiga.com%2F">HTML</a>
        </p>