<p class="justify">
    <a href="http://gawiga.wixsite.com/gawiga">Wix Developer (2017)</a> - Com o construtor de site Wix, fiz alguns sites com hospedagem gratuita para
    diversas empresas. Segue um lista deles:</p>
    <ul class="doublecolumn">
        <li>
            <a href="http://gawiga.wixsite.com/funilariapitstop">Funilaria PitStop</a>
        </li>
        <li>
            <a href="http://gawiga.wixsite.com/sorvetejardimdolago">Sorveteria Natuice</a>
        </li>
        <li>
            <a href="http://gawiga.wixsite.com/casaderacaopavao">Casa de Ração Pavão</a>
        </li>
        <li>
            <a href="http://gawiga.wixsite.com/barbeariastyllus">Barbearia Styllus</a>
        </li>
        <li>
            <a href="http://gawiga.wixsite.com/padariasaojorge">Padaria São Jorge</a>
        </li>
        <li>
            <a href="http://gawiga.wixsite.com/amoab-jundiai">AMOAB Jundiaí</a>
        </li>
        <li>
            <a href="http://gawiga.wixsite.com/galdinodejundiai">Galdino de Jundiaí</a>
        </li>
        <li>
            <a href="http://gawiga.wixsite.com/dongaldino">Don Galdino</a>
        </li>
    </ul>
</p>