---
layout: default
title: "gawiga - desenvolvedor"
lang: en
permalink: /en
---
{% include svg-icons.html %}
<header class="header-site" >
    <!-- {% include menu.html %} -->
    {% include header-default.html %}
</header>
<main id="scroll" class="home" itemscope itemtype="http://schema.org/Blog">
    <section id="sobre" class="post-content" itemscope itemtype="http://schema.org/BlogPosting">
        {% include sobre-mim.html %}
        {% include servicos.html %}
        {% include contato.html %}
    </section>
</main>
